html, body {
    height: 100%;
   
}


body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
h2 {
    margin: .5rem;
}